/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: rgba(66, 101, 214, 1);
  --primary-light: rgba(173, 193, 255, 0.6);
}
/* Global */
*,
*::before,
*::after {
  text-decoration: none;
  padding: 0;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  text-transform: capitalize;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f7;
}

section {
  padding: 2rem 6%;
}

.btn {
  padding: 0.8rem 3.5rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  display: inline-block;
  cursor: pointer;
  color: var(--primary);
  border-radius: 1rem;
  background-color: #fff;
  -webkit-border-radius: 1rem;
  -o-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -moz-border-radius: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Header section */
header {
  z-index: 1000;
  top: 0;
  right: 0;
  position: fixed;
  padding: 1.5rem 9%;
  left: 0;
  justify-content: space-between;
  display: flex;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
  background-color: #fff;
  align-items: center;
  -webkit-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.5);
}

header .logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: #333;
}

header span {
  color: var(--primary);
}

.navbar a {
  color: #333;
  font-size: 2rem;
  padding: 0 1.5rem;
}
.navbar a:hover {
  color: var(--primary);
  font-weight: bold;
}

.icons #menu-bars,
.icons a {
  width: 5rem;
  text-align: center;
  margin-right: 0.5rem;
  line-height: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  color: var(--primary);
  border-radius: 54% 46% 40% 60% / 40% 53% 47% 60%;
  background-color: var(--primary-light);
  -webkit-border-radius: 54% 46% 40% 60% / 40% 53% 47% 60%;
  -o-border-radius: 54% 46% 40% 60% / 40% 53% 47% 60%;
  -ms-border-radius: 54% 46% 40% 60% / 40% 53% 47% 60%;
  -moz-border-radius: 54% 46% 40% 60% / 40% 53% 47% 60%;
}

.icons #menu-bars:hover,
.icons a:hover {
  color: #fff;
}

.icons #menu-bars {
  display: none;
}

/* Header section end*/

/* Home section */

.home {
  min-height: 100vh;
  background: url("/images/home-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home form {
  width: 70rem;
  margin-top: 7rem;
  padding: 2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -webkit-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
}

.home form h3 {
  text-align: center;
  font-size: 3rem;
  color: #333;
}

.home form .btn-container {
  display: flex;
  gap: 1rem;
}

.home form .btn-container .btn {
  flex: 1;
}

.home form .inputBox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.home form .inputBox input,
.home form .inputBox select {
  flex: 1 1 25rem;
  border: 0.1rem solid #333;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.home form .btn {
  width: 100%;
  margin-top: 2rem;
}

/* Home section end */

/* Media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1.5rem 1rem;
  }
  section {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .icons #menu-bars {
    display: inline-block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-top: 0.1rem #333 solid;
    border-bottom: 0.1rem #333 solid;
    background-color: #f7f7f7;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1.5rem;
    background-color: #fff;
    border: 0.1rem solid #333;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
